body{
    background: #BDBDBD;
}

/*
.container{
    border-style: solid;
}
*/

.section{
    border-style: solid;
    border-color: red;
    margin: 5px 100px 5px 100px;
    padding: 50px;
    align-content: center;   
}

.heading h1 {
  color: black; 
}

.heading span {
  color: rgb(153, 153, 153)
}