body{
    background: #BDBDBD;
}

/*
.container{
    border-style: solid;
}
*/

.section{
    border-style: solid;
    border-color: red;
    margin: 5px 100px 5px 100px;
    padding: 50px;
    align-content: center;   
}

.heading h1 {
  color: black; 
}

.heading span {
  color: rgb(153, 153, 153)
}

.tag_line{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 80px;
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
}
.p_line{
    font-family: verdana;
  font-size: 50px;
  text-align: center;
  font-family: sans-serif;
  background-color: white;
}