body{
    background: #BDBDBD;
}

/*
.container{
    border-style: solid;
}
*/

.section{
    /*border-style: solid;
    border-color: red;*/
    margin: 5px 100px 5px 100px;
    padding: 50px;
    align-content: center;   
}

.heading h1 {
  color: black; 
}

.heading span {
  color: rgb(153, 153, 153)
}

.tag_line{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 80px;
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
}
.p_line{
    font-family: verdana;
  font-size: 50px;
  text-align: center;
  font-family: sans-serif;
  background-color: white;
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    /* border-style: solid; */
    background-color: white;
    margin: auto;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
   }
.centrado2{
    /* border-style: solid; */
    background-color: white;
    margin: auto;
    position: absolute;
    top: 60%;
    left: 50%;
    padding: 0%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.img{
    border-radius: 50%;background-color: blueviolet;
}