<!-- your html code here -->
<!-- <p>Hola mundo Jose</p> -->


<div class="container p-3">
    <h1>Contact</h1>
    <p>Donect ullamcorper nulla non metus auctor fringilla. 
    Vestibulum id ligula porta feliz euismod Semper. 
    Praesent commodo cursus magna, vel scelerisque nisl consectetur. 
    Fusce dapibus, tellus ac cursus commodo. </p>
</div>

<div class="container-md p-3 my-1 bg-light text-black" id="con-contact">
    <div class="mb-3 row">
            <label for="email" class="col-sm-2 col-form-label" id="txt-email">Your E-mail</label>
        <div class="col-sm-8">
            <input type="email" class="form-control" id="email" placeholder="Your E-mail " name="email">
        </div>
    </div>
  
  <div class="mb-3 row">
            <label for="message" class="col-sm-2 col-form-label" id="txt-msg">Your message</label>
        <div class="col-sm-8">
            <textarea class="form-control" rows="3" id="message" placeholder="Please enter your message here.."></textarea>
        </div>
  </div>
     <div class="mb-8"> 
         <button type="submit" class="btn btn-primary" id="btn-submit">Submit</button>
    </div>
</div>