<!-- your html code here -->
<!-- <p>Hola mundo Jose</p> -->

<h1>Contact</h1>

<p>Donect ullamcorper nulla non metus auctor fringilla. 
Vestibulum id ligula porta feliz euismod Semper. 
Praesent commodo cursus magna, vel scelerisque nisl consectetur. 
Fusce dapibus, tellus ac cursus commodo. </p>

<div class="container p-3 my-3 bg-light text-black">

  <form action="/action_page.php"></form>

    <div class="form-horizontal">
      <label for="email">Your E-mail</label>
      <input type="email" class="form-control" id="email" placeholder="Your E-mail " name="email">
    </div>

    <div class="form-horizontal">
      <label for="message">Your message</label>
      <textarea class="form-control" rows="3" id="message" placeholder="Please enter your message here.."></textarea>
    </div>
      
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>

</div>
