<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="d-flex p-2 bd-highlight" style="margin-top: 50px">

        <div class="container-fluid" style=" margin-left: 150px;">
            <h3>
                The First Heading
                <small class="text-muted">
                    Will Catch Your Eye
                </small>
            </h3>
            <p class= "text center">
                Donec Ullamcorper nulla non metus auctor fringilla. Vestibullun id ligula porta felis euismod semper.Praesente commodo cursus magna vel sceleresqui nisl consectectur. Fusce dapibus, tellus ac cursus commodo
            </p>

         </div>


        <div class="float-end" style=" margin-right: 150px;" >
            <div class="col">
                <span class="float-right">
                    <img src="https://browser-f556ffd2-39e9-49a4-bcc4-c4b399d6c629.ws-us03.gitpod.io/workspace/html-hello/exercise-collaborative-html-website/website1/assets/img/1.jpg" class= "rounded-circle" alt="no se puede ver esta imagen" width="200px" >
                </span>
                
            </div>
        </div>
    </div>

</body>

</html>






