<!-- your html code here -->
 
<!-- <p>Hello, I'm the navbar.html</p> 
-->



<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Start Bootstrap</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Portfolio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
  </ul>
</nav>



<!--               
   <div class="container-fluid">

        <nav class="nnavbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Start Bootstrap</a>
                <a class="navbar-brand" href="#">About</a>
                <a class="navbar-brand" href="#">Services</a>
                <a class="navbar-brand" href="#">Portafolio</a>
                <a class="navbar-brand" href="#">Contact</a>

            </div>
        </nav>
    </div>
-->